{%  extends 'base_account.html' %}

{%  block content %}

<div class="form login_form">
        <section class="login_content">
          <form action="" method="post" id="login">
            {% csrf_token %}  
              <h1>Sign In</h1>
              {%  if messages %}
                {%  for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{  message  }}
                </div>
                {%  endfor %}
              {%  endif %}
            <div>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="" />
            </div>
            <div>
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="" />
            </div>
             <div class="md-5">            
              <input type="submit" value="Sign In" name="submit" class="btn btn-success submit">
              <a class="reset_pass" href="#">Forgot password?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <p class="change_link">New to site?
                <a href="{% url 'accounts:register' %}" class="to_register"> Create Account </a>
              </p>
              <div class="clearfix"></div>
                <br /><br/>
              <div>
                <p><i class=""></i> Imagine Team &copy 2018</p>
              </div>
            </div>
          </form>
        </section>   
      </div> 

{%  endblock  %}